<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FormaWatch</string>
    <key>CFBundleDisplayName</key>
    <string>Forma</string>
    <key>CFBundleIdentifier</key>
    <string>com.samvel.forma.watchkitapp</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>FormaWatch</string>
    <key>WKApplication</key>
    <true/>
    <key>WKWatchKitApp</key>
    <true/>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.samvel.forma</string>
</dict>
</plist>
